doctype html
head
	title
		| #{title}
body
	div(id="result")
	script(src="/js/jquery.js")
	script
		| var posts = "#{posts}";
		| posts = posts.replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&quot;/g, "\"");

	script(src="/js/sendurl.js")